<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Dice rolling</title>
    <meta name="description" content="Virtual free dice rolling">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
</head>

<body id="page-top" style="background: #FFB500;">
    <header class="d-flex masthead">
        <div class="container text-center my-auto">
            <h1 class="mb-1">VDR</h1>
            <h3 class="mb-5"><em>A Free Virtual Dice Rolling</em></h3>
            <div class="row">
                <div class="col"><img src="/static/img/six-sided-dice.svg" width="200">
                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="margin: 14px;">How many sides are the dice</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Six sides</a><a class="dropdown-item" href="#">Eight sides</a><a class="dropdown-item" href="#">Ten sides</a></div>
                    </div>
                </div>
            </div><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about" style="margin-bottom: 14px;">Click this button to roll a dice</a>
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>